- model_class = Device
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
  
= form_tag devices_path, :method => 'get', :id => "devices_search" do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil
  #devices= render 'devices'

.sample
  = form_tag import_devices_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import"
    
  = link_to "Devices.xlsx", '/docs/Devices.xlsx'
