- model_class = Idevice
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= form_tag idevices_path, :method => 'get', :id => "idevices_search" do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil
  #idevices= render 'idevices'

.sample
  = form_tag import_idevices_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import"
    
  = link_to "iDevices.xlsx", '/docs/iDevices.xlsx'

