- model_class = Timeline
.page-header
  %h1=t '.title', :default => "Computer Hardware Timeline"
= render partial: '/shared/search', locals:{partial: 'timelines', path: timelines_path}  

.sample
  = form_tag import_timelines_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import"
    
  = link_to "Timelines.xlsx", '/docs/Timelines.xlsx'
