- model_class = Printer
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= form_tag printers_path, :method => 'get', :id => "devices_search" do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil
  #devices= render 'printers'


.sample
  = form_tag import_printers_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import"
    
  = link_to "Printers.xlsx", '/docs/Printers.xlsx'

